<div class="dropdown w-15">
    <span class="badge badge-info" data-toggle="dropdown">{{status|issueStatus:kind}}</span>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a *ngFor="let s of statusCodes" (click)="onStatusClick(s)" class="dropdown-item">{{s|issueStatus:kind}}</a>
    </div>
</div>
