<div class="dropdown w-15">
    <span class="badge badge-info" data-toggle="dropdown">{{status|taskStatus}}</span>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a *ngFor="let ts of taskStatus" (click)="onStatusClick(ts)" class="dropdown-item">{{ts|taskStatus}}</a>
    </div>
</div>
