<h5 *ngIf="!editing" (mouseenter)="onMouseEnterOrLeave()" (mouseleave)="onMouseEnterOrLeave()" (click)="onEditClick()">
    {{title}}
    <i class="fa fa-pencil-square-o fa-lg" [hidden]="!showEditButton"></i></h5>
<div class="input-group" *ngIf="editing">
    <input type="text" class="form-control" [(ngModel)]="title">
    <button class="btn btn-success btn-check"><i class="fa fa-check" (click)="onSaveClick()"></i></button>
    <button class="btn btn-danger btn-times"><i class="fa fa-times" (click)="onCancelClick()"></i></button>
</div>
