<div class="dropdown w-15">
    <span *ngIf="kind == 'F'" class="badge badge-success" data-toggle="dropdown" (click)="onKindClick()"><i
        class="fa fa-plus"></i> FEATURE</span>
    <span *ngIf="kind == 'B'" class="badge badge-danger" data-toggle="dropdown" (click)="onKindClick()"><i
        class="fa fa-bug"></i> BUG</span>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="onIssueKindClick('F')"><i class="fa fa-plus"></i> FEATURE</a>
        <a class="dropdown-item" (click)="onIssueKindClick('B')"><i class="fa fa-bug"></i> BUG</a>
    </div>
</div>
