<form novalidate [formGroup]="task" class="form-inline" (submit)="onSubmit()">
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" formControlName="title" placeholder="">
    <button type="submit" class="btn btn-primary" [disabled]="task.invalid">Create</button>
</form>
