<div class="col-12 my-3 pl-0" *ngIf="!editing" (click)="onEditDescClick()">
    <p *ngIf="!desc || desc.length == 0" class="text-muted">This issue has no description.</p>
    <p *ngIf="desc">{{desc}}</p>
</div>
<div class="col-12 pl-0 pr-0 text-right" *ngIf="editing">
    <textarea class="form-control mt-3" [(ngModel)]="desc"></textarea>
    <div class="btn-group" role="group">
        <button class="btn btn-success btn-sm btn-check mt-1 ml-0"><i class="fa fa-check" (click)="onSaveClick()"></i>
        </button>
        <button class="btn btn-danger btn-sm btn-times mt-1 mr-0"><i class="fa fa-times" (click)="onCancelClick()"></i>
        </button>
    </div>
</div>

