<form novalidate [formGroup]="issue" class="form-inline" (submit)="onSubmit()">
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" formControlName="kind">
        <option value="F">Feature</option>
        <option value="B">Bug</option>
    </select>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" formControlName="title" placeholder="">
    <button type="submit" class="btn btn-primary" [disabled]="issue.invalid">Create</button>
</form>
