<div class="row">
    <div class="col-12">
        <form novalidate [formGroup]="project" (ngSubmit)="onSubmit()">
            <div class="form-group"
                 [class.has-danger]="project.controls.name.errors && project.controls.name.touched">
                <input type="text" class="form-control" formControlName="name" placeholder="Project Name">
                <small *ngIf="project.controls.name?.errors?.required && project.controls.name.touched"
                       class="form-control-feedback">Name is required.
                </small>
            </div>
            <div class="form-group"
                 [class.has-danger]="project.controls.id.errors && project.controls.id.touched">
                <input type="text" class="form-control" formControlName="id" placeholder="Project Id">
                <small *ngIf="project.controls.id?.errors?.required && project.controls.id.touched"
                       class="form-control-feedback">Id is required.
                </small>
                <small
                    *ngIf="(project.controls.id?.errors?.minlength || project.controls.id?.errors?.maxlength) && project.controls.id.touched"
                    class="form-control-feedback">Id length must be 3 characters.
                </small>
            </div>
            <div class="form-group"
                 [class.has-danger]="project.controls.desc.errors && project.controls.desc.touched">
                <textarea class="form-control" formControlName="desc"
                          placeholder="Project Description (optional)"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="project.invalid">Save</button>
        </form>
    </div>
</div>
