<div class="row">
    <div class="col-12">
        <h1 class="page-title"><i class="fa fa-stack-overflow"></i> Releases</h1>
        <hr>
        <button class="btn btn-sm btn-link" *ngIf="!creatingRelease" (click)="onCreateRelease()">+ Create release
        </button>
        <app-quick-release *ngIf="creatingRelease" (releaseCreated)="onReleaseCreated($event)"></app-quick-release>
    </div>
    <div class="col-12 my-2">
        <table class="table table-hover backlog">
            <tbody>
            <tr *ngFor="let r of releases" (click)="onReleaseClick(r)" class="release">
                <th scope="row" class="w-10"><a
                    routerLink="/projects/{{projectKey}}/releases/{{r.key}}">v{{r.version}}</a></th>
                <td class="w-10">
                    <a routerLink="/projects/{{projectKey}}/releases/{{r.key}}/board" class="btn btn-link btn-sm"
                       title="Boards">
                        <i class="fa fa-tasks"></i>
                    </a>
                </td>
                <td class="text-right"><span class="badge badge-info">{{r.status|releaseStatus}}</span></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
