<div class="navbar-collapse">
<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown">
            <span *ngIf="null == currentProject" class="text-muted">Select a project</span>
            <span *ngIf="null != currentProject">
                {{currentProject.name}} ({{currentProject.id}})
            </span>
        </a>
        <div class="dropdown-menu">
            <span *ngFor="let p of allProjectsButSelected" class="dropdown-item py-2"
                  (click)="onProjectClick(p)">{{p.name}} ({{p.id}})</span>
            <div class="dropdown-divider"></div>
            <span (click)="onNewProjectClick()" class="dropdown-item">New Project</span>
        </div>
    </li>
</ul>
</div>
