.dropdown-item {

    &:hover {
        cursor: pointer !important;
    }

}

.project-selector {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
}
