<div #taskDialog class="modal fade task-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="task">
            <div class="modal-header bg-inverse text-white">
                <h5 class="modal-title">#{{task.id}}</h5>
                <textarea class="invisible-textarea" autocorrect="off" spellcheck="false" readonly id="taskId">#{{task.id}}</textarea>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-editable-title [title]="task.title" (titleChanged)="onTitleChanged($event)"></app-editable-title>
                <hr>
                <div class="row">
                    <div class="col-2"><span class="badge badge-primary"><i class="fa  fa-thumb-tack"></i> TASK</span>
                    </div>
                    <div class="col-2">
                        <app-editable-task-status [status]="task.status"
                                                  (statusChanged)="onStatusChanged($event)"></app-editable-task-status>
                    </div>
                    <div class="col-8 text-right">
                        <span class="pull-11">{{task.creation_date|date}}</span>
                    </div>
                </div>
                <app-editable-desc [desc]="task.desc" (descChanged)="onDescChanged($event)"></app-editable-desc>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="onCopyId()"><i class="fa fa-copy"></i></button>
                <button class="btn btn-success" [disabled]="!hasChanged" (click)="onSaveIssueChanges()">Save</button>
            </div>
        </div>
    </div>
</div>
