.task-dialog {
    z-index: 1060;
    top: 30%;
}

.invisible-textarea {
    background: none;
    border: none;
    color: #292b2c;
    resize: none;
    &::selection {
        background: none;
        border: none;
        color: #292b2c;
    }

    &:focus {
        outline: none;
    }
}
