<app-issue #issueDialog></app-issue>
<div class="row">
    <div class="col-12">
        <h1 *ngIf="showHeader" class="page-title"><i class="fa fa-list"></i> Backlog</h1>
        <hr>
        <button class="btn btn-sm btn-link" *ngIf="!creatingIssue" (click)="onCreateIssue()">+ Create issue</button>
        <app-quick-issue *ngIf="creatingIssue" (issueCreated)="onIssueCreated($event)"></app-quick-issue>
    </div>
    <div class="col-12 my-2" (drop)="onIssueDrop($event)"
         (dragover)="onIssueDragOver($event)" (dragend)="onIssueDragEnd()" [class.drag-point]="dragging">
        <table class="table table-hover backlog">
            <tbody>
            <tr *ngFor="let i of issues" [class.feature]="i.kind == 'F'" [class.bug]="i.kind == 'B'"
                (click)="onIssueClick(i)" (dragstart)="onIssueDragStart($event, i)" draggable="true">
                <th scope="row" class="w-10">#{{i.id}}</th>
                <td>{{i.title}}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
