<app-task #taskDialog (taskupdated)="onTaskUpdated($event)"></app-task>
<div #issueDialog class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="issue">
            <div class="modal-header bg-inverse text-white">
                <h5 class="modal-title">#{{issue.id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-editable-title [title]="issue.title" (titleChanged)="onTitleChanged($event)"></app-editable-title>
                <hr>
                <div class="row">
                    <div class="col-2">
                        <app-editable-issue-kind [kind]="issue.kind"
                                                 (kindChanged)="onKindChanged($event)"></app-editable-issue-kind>
                    </div>
                    <div class="col-2">
                        <span class="badge badge-info">{{issue.status|issueStatus:issue.kind}}</span>
                    </div>
                    <div class="col-8 text-right">
                        <span>{{issue.creation_date|date}}</span>
                    </div>
                </div>

                <app-editable-desc [desc]="issue.desc" (descChanged)="onDescChanged($event)"></app-editable-desc>
                <hr>
                <button class="btn btn-sm btn-link" *ngIf="!creatingTask" (click)="onCreateTask()">+ Create task
                </button>
                <app-quick-task *ngIf="creatingTask" (taskCreated)="onTaskCreated($event)"></app-quick-task>
                <br>
                <div class="col-12 my-2" *ngIf="!tasks || tasks.length == 0">This issue has no tasks.</div>
                <div class="col-12 my-2">
                    <table class="table table-hover">
                        <tbody>
                        <tr *ngFor="let t of tasks" class="task" (click)="onTaskClick(t)">
                            <th scope="row" class="w-10">#{{t.id}}</th>
                            <td>{{t.title}}</td>
                            <td class="text-right w-15">
                                <span class="badge badge-info">{{t.status|taskStatus}}</span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" [disabled]="!hasChanged" (click)="onSaveIssueChanges()">Save</button>
            </div>
        </div>
    </div>
</div>
