$feature-color: #5cb85c;
$bug-color: #d9534f;
$task-color: #025aa5;
$release-color: #ffd500;
$border-width: 4px;
$border-default: solid 1px rgb(221, 221, 221);

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.backlog {
    .feature {
        border-left: $feature-color solid $border-width;
    }

    .bug {
        border-left: $bug-color solid $border-width;
    }
}
