@import "commons";

.navigation {
    border-right: $border-default;

    &.closed {
        width: 48px;
    }

    &.open {
        width: 120px;
    }
}

.navigation-item {
    width: 100%;
    cursor: pointer;
    > small {
        cursor: pointer;
    }

    &:hover {
        text-decoration: none;
    }
}

.navbar-toggleable-ut {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
