<nav class="navbar navbar-toggleable-ut navbar-full fixed-top navbar-inverse bg-inverse">
    <a class="navbar-brand" href="/">UTGAVE</a>
    <utgave-project-selector #projectSelector
                             (projectSelected)="onProjectSelected($event)"></utgave-project-selector>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="navigation" [class.closed]="!navigationOpen" [class.open]="navigationOpen">
            <span class="btn btn-link navigation-item" (click)="onToggleNavigationClick()"><i
                class="fa fa-bars"></i></span>
            <a routerLink="/projects/{{projectKey}}/dashboard" class="btn btn-link navigation-item"
               data-toggle="tooltip"
               data-placement="right" title="Dashboard">
                <i class="fa fa-dashboard"></i>
                <small *ngIf="navigationOpen">Dashboard</small>
            </a>
            <a routerLink="/projects/{{projectKey}}/backlog" class="btn btn-link navigation-item" data-toggle="tooltip"
               data-placement="right" title="Backlog">
                <i class="fa fa-list"></i>
                <small *ngIf="navigationOpen">Backlog</small>
            </a>
            <a routerLink="/projects/{{projectKey}}/releases" class="btn btn-link navigation-item" data-toggle="tooltip"
               data-placement="right" title="Releases">
                <i class="fa fa-stack-overflow"></i>
                <small *ngIf="navigationOpen">Releases</small>
            </a>
        </div>
        <div class="col pt-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer class="fixed-bottom p-3">
    <small class="text-muted"><strong>UTGAVE</strong> &copy; 2017 v$version$</small>
</footer>
