<form novalidate [formGroup]="release" class="form-inline" (submit)="onSubmit()">
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" formControlName="version" placeholder="">
    <button type="submit" class="btn btn-primary" [disabled]="release.invalid">Create</button>
</form>
