<div class="row" *ngIf="board">
    <div class="col-12">
        <h1 class="page-title"><i class="fa fa-tasks"></i> Release Board v{{board.release.version}} <span
            class="badge badge-info">{{board.release.status|releaseStatus}}</span></h1>
        <hr>
    </div>

    <ng-container *ngFor="let issue of board.release.issues">
        <div class="col-12 my-2">
            <strong>#{{issue.id}}</strong>
            <span *ngIf="issue.kind == 'F'" class="badge badge-success"><i class="fa fa-plus"></i> Feature</span>
            <span *ngIf="issue.kind == 'B'" class="badge badge-danger"><i class="fa fa-bug"></i> Bug</span>
            <span class="badge badge-info">{{issue.status|issueStatus:issue.kind}}</span> {{issue.title}}
        </div>
        <div *ngFor="let task of issue.tasks.TO_DO" class="col-3 board-column">
            <div class="card">
                <div class="card-header bg-inverse text-white">#{{task.id}}</div>
                <div class="card-block">
                    {{task.title}}
                </div>
            </div>
        </div>
        <div *ngFor="let task of issue.tasks.IN_PROGRESS" class="col-3 board-column">
            <div class="card">
                <div class="card-header bg-inverse text-white">#{{task.id}}</div>
                <div class="card-block">
                    {{task.title}}
                </div>
            </div>
        </div>
        <div *ngFor="let task of issue.tasks.DONE" class="col-3 board-column">
            <div class="card">
                <div class="card-header bg-inverse text-white">#{{task.id}}</div>
                <div class="card-block">
                    {{task.title}}
                </div>
            </div>
        </div>

    </ng-container>


</div>
