<div class="row" *ngIf="project">
    <div class="col-12">
        <h1 class="page-title"><i class="fa fa-dashboard"></i> {{project.name}} ({{project.id}})</h1>
        <hr>
        <p>{{project.desc}}</p>
        <p>Created on {{project.creation_date | date}}</p>
    </div>
    <!--<div class="col-12">-->
    <!--<div class="card my-2">-->
    <!--<div class="card-header card-success text-white">-->
    <!--{{project.name}}-->
    <!--</div>-->
    <!--<div class="card-block">-->
    <!--<p>Created in {{project.creation_date | date}}</p>-->
    <!--<a routerLink="/projects/releases/create" class="btn btn-outline-primary card-link"-->
    <!--data-toggle="tooltip" data-placement="bottom" title="New release">-->
    <!--<i class="fa fa-stack-overflow"></i>-->
    <!--</a>-->
    <!--<a routerLink="/projects/features/create" class="btn btn-outline-success card-link"-->
    <!--data-toggle="tooltip" data-placement="bottom" title="New Feature">-->
    <!--<i class="fa fa-plus"></i>-->
    <!--</a>-->
    <!--<a routerLink="/projects/bugs/create" class="btn btn-outline-danger card-link"-->
    <!--data-toggle="tooltip" data-placement="bottom" title="New bug">-->
    <!--<i class="fa fa-bug"></i>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

</div>
